[submodule "Link"]
	path = resources/gowtham0992/Link
	url = https://github.com/gowtham0992/link.git
[submodule "SwarmVault"]
	path = resources/SwarmClawAI/SwarmVault
	url = https://github.com/swarmclawai/swarmvault.git
