[submodule "Link"]
	path = resources/gowtham0992/Link
	url = https://github.com/gowtham0992/link.git
[submodule "SwarmVault"]
	path = resources/SwarmClawAI/SwarmVault
	url = https://github.com/swarmclawai/swarmvault.git
[submodule "andrej-karpathy-llm-wiki"]
	path = resources/zhurudong/andrej-karpathy-llm-wiki
	url = https://github.com/zhurudong/andrej-karpathy-llm-wiki.git
[submodule "Synthadoc"]
	path = resources/axoviq-ai/Synthadoc
	url = https://github.com/axoviq-ai/synthadoc.git
[submodule "OmegaWiki"]
	path = resources/skyllwt/OmegaWiki
	url = https://github.com/skyllwt/OmegaWiki.git
[submodule "LLM-Wiki-Manager"]
	path = resources/sametbrr/LLM-Wiki-Manager
	url = https://github.com/sametbrr/llm-wiki-manager.git
[submodule "PulseOS-Lite"]
	path = resources/jp-carrilloe/PulseOS-Lite
	url = https://github.com/jp-carrilloe/pulseOS-lite.git
